<?xml version='1.0' encoding='UTF-8'?>
<!-- DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" -->


<hibernate-configuration>

    <session-factory>
    	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/main?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ovie.88J</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	    <property name="show_sql">true</property>
	
		<!-- 数据库连接池的使用 -->
		<!-- 选择使用C3P0连接池 -->
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
		</property>
		<!-- 连接池中最小连接数 -->
		<property name="hibernate.c3p0.min_size">5</property>
		<!-- 连接池中最大连接数 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!-- 设定数据库连接超时时间，以秒为单位。如果连接池中某个数据库连接处于空闲状态且超过timeout秒时，就会从连接池中移除 -->
		<property name="hibernate.c3p0.timeout">120</property>
		<!-- 设置数据库 -->
		<property name="hibernate.c3p0.idle_test_period">3000</property>
    
    
        <mapping resource="Address.hbm.xml"/>
<!--         <mapping resource="Portfolio.hbm.xml"/>
        <mapping resource="PortfolioMember.hbm.xml"/>
        <mapping resource="Asset.hbm.xml"/>
        <mapping resource="Person.hbm.xml"/>
        <mapping resource="InvestorView.hbm.xml"/>
        <mapping resource="BrokerView.hbm.xml"/>
        <mapping resource="DepositAccountView.hbm.xml"/>
        <mapping resource="StockView.hbm.xml"/>
        <mapping resource="PrivateInvestmentView.hbm.xml"/>  
        <mapping resource="PortfolioMemberView.hbm.xml"/>
        <mapping resource="PortfolioView.hbm.xml"/>  -->                   
        
	</session-factory>

</hibernate-configuration>